<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="FtpUsername" value="bellarmine" />
    <add key="FtpPassword" value="zl~OD5aR#Io2p{CvYlY:&amp;6b#d50JZtO2ZoJa,,zcq#];rwU4ekGQToo~Wi8w=R2Y" />
    <add key="FtpPath" value="upload.evertrue.com" />
    <add key="MailServer" value="mail.bellarmine.edu" />
    <add key="MailResultsTo" value="ahemani@bellarmine.edu" />
  </appSettings>
</configuration>